*{
    padding:0px;
    margin:0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#weather_viewer_header{
    width: 100%;
    height:80px;
    background-color: #604a7b;
    color: white;
    margin:0px;
    padding:20px;
    box-sizing: border-box;
}
#searchbar_section{
    width: 100%;
    height:60px;
    background-color: #604a7b;
    color: white;
    text-align: center;
}
#searchbar{
    width:50%;
    height:40px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #604a7b;
    color:white;
    padding-left:10px;
    font-size: 16px;
}
::placeholder {
  color: white;
  opacity: 1; /* Firefox */
  padding-left: 10px;
}
#search_button{
    width:max-content;
    height:40px;
    background-color: white;
    color:#604a7b;
    border:2px solid white;
    border-radius: 10px;
    padding-left: 5px;
    padding-right:5px;
    font-weight: bold;
}
#current_location_button{
    border:2px solid white;
    border-radius: 10px;
    padding-left:15px;
    padding-right:15px;
    background-color: white;
    height:40px;
}
#current_location_icon{
    color:red;   
    font-size: 16px;
    padding:0px;
    margin:0px; 
}
#weather_display_section{
    width:100%;
    height:max-content;
    padding:10px;
    box-sizing: border-box;
}
#todays_weather_heading{
    color: #604a7b;
    padding-left: 10px;
    font-weight: bold;
}
#todays_weather_display{
    width:var(100%-40px);
    height:max-content;
    background-color: #604a7b;
    border-radius: 20px;
    color:white;
    margin-left:20px;
    margin-right:20px;
    margin-top: 20px;
    font-size: 14px;
    padding:40px;
}
#date_label{
    width:max-content;
    display:inline-block;
}
#temp_label{
    width:max-content;
    display:inline-block;
}
#humidity_label{
    width:max-content;
    display:inline-block;
}
#location_label{
    width:max-content;
    display:inline-block;
}   
#wind_label{
    width:max-content;
    display:inline-block;
} 
#date_data{
    width:max-content;
    display:inline-block;
}
#temp_data{
    width:max-content;
    display:inline-block;
}
#humidity_data{
    width:max-content;
    display:inline-block;
}
#location_data{
    width:max-content;
    display:inline-block;
}
#wind_data{
    width:max-content;
    display:inline-block;
} 
#five_days_forecast_heading{
    color: #604a7b;
    padding-left: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}
#five_days_forecast_div{
   
    height:fit-content;
   padding-left:50px;
   padding-right:50px;
   
}
#current_day_plus_one_div{
    width:48%;
    height: 150px;
    border: 4px solid black;
    background-color: #e6e0ec;
    text-align: center;
    color: #604a7b;
    border-radius: 10px;
    margin-bottom: 15px;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    padding-top:20px;
    display:inline-block;
    
}
#current_day_plus_two_div{
    width:48%;
    height: 150px;
    border: 4px solid black;
    background-color: #e6e0ec;
    text-align: center;
    color: #604a7b;
    border-radius: 10px;
    margin-bottom: 15px;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    padding-top:20px;
    display:inline-block;
}
#current_day_plus_three_div{
    width:48%;
    height: 150px;
    border: 4px solid black;
    background-color: #e6e0ec;
    text-align: center;
    color: #604a7b;
    border-radius: 10px;
    margin-bottom: 15px;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    padding-top:20px;
    display:inline-block;
}
#current_day_plus_four_div{
    width:48%;
    height: 150px;
    border: 4px solid black;
    background-color: #e6e0ec;
    text-align: center;
    color: #604a7b;
    border-radius: 10px;
    margin-bottom: 15px;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    padding-top:20px;
    display:inline-block;
}
#current_day_plus_five_div{
    width:48%;
    height: 150px;
    border: 4px solid black;
    background-color: #e6e0ec;
    text-align: center;
    color: #604a7b;
    border-radius: 10px;
    margin-bottom: 15px;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    padding-top:20px;
    display:inline-block;
}
.fa-solid{
    color:black;
    margin-top: 20px;
}
